.h-card {
  display: flex;
  flex-direction: column;
  color: rgb(15, 23, 42);
  border: 2px solid rgb(96, 196, 183);
  border-radius: 0px;
  box-shadow: rgb(255, 0, 255) 5px 5px 0px, rgba(96, 196, 183, 0.2) 10px 10px 0px;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  font-family: "Courier New", monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.h-card img {
  border-radius: 0px;
  border: 2px solid rgba(96, 196, 183, 0.247);
  filter:contrast(120%) brightness(80%);
  margin-bottom: 1rem;
  border-radius: 50%;
}

nav a:not(:empty) {
  color: rgb(255, 255, 255);
  background-color: rgb(96, 196, 183);
  padding: 15px 15px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: 900;
  transform: skewX(-10deg);
  font-size: 16px;
}

nav a:hover {
  background-color: rgb(255, 0, 255);
  box-shadow: inset rgb(255, 0, 255) 5px 5px 0px, rgba(96, 196, 183, 0.2) 5px 5px 0px;
}

#top-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

p.p-note {
  border-left: 3px solid rgb(255, 0, 255);
  padding-left: 15px;
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

section li{
  color: rgb(35, 68, 64);
  
}


@media screen and (min-width: 550px) {

  .h-card {
    flex-direction: row;
  }

  #top-menu {
    flex-direction: row;
    gap: 15px;
    margin-top: 1em;
    padding-top: 1em;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(96, 196, 183);
    box-shadow:  rgb(255, 0, 255) 0px 5px 0px, rgba(96, 196, 183, 0.2) 0px 5px 0px;
    }
  }

}