#links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 80vh;
  align-items: center;
  margin: 2em 0;
}

.h-card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em auto;
  align-items: center;
  gap: 10px;
}

.h-card img {
  height: 100px;
  width: 100px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.p-name {
  font-weight: 700;
}

.card-header, .card-body, .card-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.card-body {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .card-links {
    flex-direction: row;
    gap: 20px;
  }
}
